@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #3AAFA9;
    margin-top: 0cm;
    margin-bottom: 2.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 2% 2% 2% 2%;
    height : 25em;
  }

  @media (max-width: 600px) {
   header {
    background-color: #4aebe3;
   } 
  }

  .header-title, .misc-style, p.header-text:hover {
    color: #FEFFFF;
  }

  h1.header-title {
    text-align: center;
    font-size: 250%;
    text-decoration: underline;
    position: static;
  }

  p.header-text {
    color: black;
    font-size: large;
    font-weight: bolder;
  }

  ul#main-nav {
    list-style-type: square;
    display: inline-block;
    margin: auto;
  }

section#meeting1 {
    background-color: rgb(white, white, white);
    border: 10px solid #3AAFA9;
    padding: 2.5% ;
    margin: 0 0.5% 2.5% 0.5%;
    max-width: 100%;
    min-width: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-template-areas:
        "header header"
        "details details"
        "attendance notes"

}

section#meeting1 > h2 {
    grid-area: header;
}

details#meeting-details {
    grid-area: details;
}

section#meeting1 > div.meeting-style {
    grid-area: attendance;
}

section#meeting1 > div.meeting-notes {
    grid-area: notes;
}

.meeting-style > p > span, a:active {
    color: red;
}

details[open]#meeting-details{
    background-color: #3AAFA9;
    color: hsl(0, 100, 100);
    border-width: 2mm;
    border-color:black;
    border-style: dashed solid;
    border-radius: 25px;
    padding-left: 2em;
    padding-top:1rem;
    padding-bottom: 1rem;
    padding-right: 0;
    width: 35%;
    position: relative;
    display: block;
}

ol ~ li {
    font-weight: bold;
}

section#misc {
    background-color: #3AAFA9; 
    border: 5px solid black;
    padding-top: 0cm;
    padding-bottom: 0cm;
    padding-left: 2.5%;
    padding-right: 0cm;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

}

section#misc form fieldset {
    border: 5px solid black; 
    background-color: white;
    width: 30em;
}

input[type=checkbox] + label {
    color: black;
}

input[type=checkbox]:checked + label {
    color: rgb(7, 155, 7);
}

p ~ em {
    color: #3AAFA9;
}
