@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


header {
    background-color: #3AAFA9;
    font-family: 'Poppins', sans-serif;
    
  }

  .header-title {
    color: #FEFFFF;
  }

  .header-text {
    color: black
  }

  ul#main-nav {
    list-style-type: square;
  }

section#meeting1 {
    background-color: rgb(white, white, white);
    border: 10px solid #3AAFA9;
    padding: 2.5%;
    font-family: 'Poppins', sans-serif;
}

details[open]{
    background-color: #3AAFA9;
    color: hsl(0, 100, 100);
    border-width: 2mm;
    border-color:black;
    border-style: dashed solid;
    border-radius: 25px;
    padding-left: 2em;
    padding-top:1rem;
    padding-bottom: 1rem;
    width: 35%;
}
  