@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #3AAFA9;
    margin-top: 0;
    margin-bottom: 2.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 2% 2% 2% 2%;
    height : 20em;
    display: block;
  }

  .header-title, .misc-style {
    color: #FEFFFF;
  }

  h1.header-title {
    text-align: center;
    font-size: 250%;
    text-decoration: underline;
  }

  p.header-text {
    color: black;
    font-size: large;
    font-weight: bolder;
  }

  ul#main-nav {
    list-style-type: square;
    display: inline-block;
    margin: auto;
  }

section#meeting1 {
    background-color: rgb(white, white, white);
    border: 10px solid #3AAFA9;
    padding: 2.5%;
}

.meeting-style > p > span {
    color: red;
}

details[open]#meeting-details{
    background-color: #3AAFA9;
    color: hsl(0, 100, 100);
    border-width: 2mm;
    border-color:black;
    border-style: dashed solid;
    border-radius: 25px;
    padding-left: 2em;
    padding-top:1rem;
    padding-bottom: 1rem;
    width: 35%;
}

ol ~ li {
    font-weight: bold;
}

section#misc {
    background-color: #3AAFA9; 
    border: 5px solid black;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2.5%;
    padding-right: 0;
}

section#misc form {
    border: 5px solid black; 
    background-color: white;
    width: 30em;
}

input[type=checkbox] + label {
    color: black;
}

input[type=checkbox]:checked + label {
    color: rgb(7, 155, 7);
}

p ~ em {
    color: #3AAFA9;
}
